body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #c0d2d4;
  color: #555;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  color: #fff;
  line-height: 1.2;
}

h1 span {
  padding: 5px 15px;
  background: #2ec2b0;
}

.heading {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: #2d3436;
  margin: 50px auto 30px auto;
}

.header {
  margin: 20px auto 0 auto;
  max-width: 400px;
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid black;
}

.dp {
  margin: 50px auto 20px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}